ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

body {
    font-family:Arial,Helvetica,sans-serif;
    background: rgb(239, 239, 232);
    height:100%;
    width:100%;
    margin:auto;
    text-align:justify-all;
}

.header_table {
    padding:5px;
    width:50%;
    height: auto;
    text-align: left;
    border: transparent;
}

.content {
    padding-right: 200px;
    padding-left: 200px;
}

caption{
    caption-side: top;
    font-size: large;
    color: blue;
}

table, th, td {
    text-align: justify;
    padding: 10px;
}
